{{ attach_library('ucb_js_includes/ucb-js-includes') }}

{%
	set classes = []
%}

    <div class="container">
    <js-include 
        {{attributes.addClass(classes)}}
        config="{{data|json_encode}}">
    </js-include>
    </div>
